node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
deployments

node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts

.openzeppelin
.DS_Store
*.DS_Store*